@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'akzidenzRegular';
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Regular.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Ext.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Md.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-MdEx.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-BoldEx.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Bold.ttf');
}