@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'akzidenz';
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Regular.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Ext.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Md.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-MdEx.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-BoldEx.otf');
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-Bold.ttf');
  
}

@font-face {
  font-family: 'akzidenz-LgExt';
  src: url('../public/assets/Fonts/AkzidenzGroteskPro-LightEx.ttf'); 
}

.cellphoneImg {
  overflow-clip-margin: content-box;
  overflow: clip;

}

/* THE TEAM */
.team-box {
  transition: color 0.5s;
}
.team-box p {
  color: #1B1B1B;
}

.team-box:hover {
  color: #F8B700
}

.contact:last-child:hover {
  transform: translateX(0.25rem);
}



/* SHADOWS */
.home-shadow {
  filter: drop-shadow(1px 1px 40px #1B1B1B);
}

.game-box-shadow {
  filter: drop-shadow(0px 0px 12px #1B1B1B50);
}

.cell-box-shadow {
  filter: drop-shadow(1px 1px 20px #F8B70090);
}

.team-shadow {
  position: absolute;
  z-index: 5;
  bottom: 10px;
  left: 0px;
  box-shadow: 0px 40px 15px 1px #1B1B1B80;
}


/* BACKGROUNDS */
.bg-gamecard:hover {
  background: linear-gradient(155deg, #F8B70005 35%, #F8B70060 90%);
}

.ep-bg {
  background: url('../assets/Fillers/ep-side-01.png');
  background-size: contain;
}

.experience-bg-logo {
  background: url('../assets/Fillers/background-01.png');
  background-size: contain;
}

.bg-blackPaper {
  background: url('../assets/Fillers/Black_paper (1).jpg');
}

.bg-workPlace {
  background: url('../assets/Fillers/irfan-simsar-wxWulfjN-G0-unsplash.jpg') ;
}

.bg-footer {
  background: url('../assets/Fillers/Hexagon-2.svg');
  background-size: cover;
}

.cardTransition {
  transition: all 0.35s ease-in-out;
}


/* linear-gradient(135deg, rgba(255,255,255,1) 45%, rgba(248,183,0,0.5214460784313726) 96%); */